<!doctype html>
<!--
* Tabler - Premium and Open Source dashboard template with responsive and high quality UI.
* @version 1.0.0-beta15
* @link https://tabler.io
* Copyright 2018-2022 The Tabler Authors
* Copyright 2018-2022 codecalm.net Paweł Kuna
* Licensed under MIT (https://github.com/tabler/tabler/blob/master/LICENSE)
-->
<html lang="en">
  <head>
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1, viewport-fit=cover"/>
    <meta http-equiv="X-UA-Compatible" content="ie=edge"/>

    {% block meta %}{% endblock meta %}

    <title>Easy Commerce - Premium Ecommerce Dashboard.</title>
    <!-- CSS files -->
    <link href="{{ asset('assets/dist/css/tabler.min.css') }}" rel="stylesheet"/>
    <link href="{{ asset('assets/dist/css/tabler-flags.min.css') }}" rel="stylesheet"/>
    <link href="{{ asset('assets/dist/css/tabler-payments.min.css') }}" rel="stylesheet"/>
    <link href="{{ asset('assets/dist/css/tabler-vendors.min.css') }}" rel="stylesheet"/>
    <link href="{{ asset('assets/dist/css/demo.min.css') }}" rel="stylesheet"/>
    <style>
      @import url('https://rsms.me/inter/inter.css');
      :root {
      	--tblr-font-sans-serif: Inter, -apple-system, BlinkMacSystemFont, San Francisco, Segoe UI, Roboto, Helvetica Neue, sans-serif;
      }
    </style>

    {# 
      {% block stylesheets %}
        {{ encore_entry_link_tags('app') }}
      {% endblock %}

      {% block javascripts %}
        {{ encore_entry_script_tags('app') }}
      {% endblock %} 
    #}

    {% block headerScripts %}{% endblock headerScripts %}
    
  </head>
  <body >
    <script src="{{ asset('assets/dist/js/demo-theme.min.js') }}"></script>
    <div class="page">

      <!-- Navbar -->
      
      {% include "admin/partials/_header.html.twig" %}

      {% include "admin/partials/_nav.html.twig" %}

      <div class="page-wrapper">
        <!-- Page header -->
        <div class="page-header d-print-none">
          <div class="container-xl">
            <div class="row g-2 align-items-center">
              <div class="col">
                <!-- Page pre-title -->
                <div class="page-pretitle">
                  Tableau de bord
                </div>
                <h2 class="page-title">
                  {% block pageTitle %} Acceuil {% endblock pageTitle %}
                </h2>
              </div>
              <!-- Page title actions -->
              <div class="col-12 col-md-auto ms-auto d-print-none">
                {% block pageActions %}{% endblock pageActions %}
              </div>
            </div>
          </div>
        </div>
        <!-- Page body -->
        <div class="page-body">
          <div class="container-xl">

            {% include "admin/partials/_flash_messages.html.twig" %}

            {% block pageBody %}{% endblock pageBody %}

          </div>
        </div>

        {% include "admin/partials/_footer.html.twig" %}
      </div>

    </div>

    {% block modals %}{% endblock modals %}
    
    <!-- Libs JS -->
    <script src="{{ asset('notification/socket.io.min.js') }}"></script>
    <script src="{{ asset('notification/notification_worker.js') }}"></script>

    <script src="{{ asset('assets/dist/libs/list.js/dist/list.min.js') }}" defer></script>
    <script src="{{ asset('assets/dist/libs/apexcharts/dist/apexcharts.min.js') }}" defer></script>
    <script src="{{ asset('assets/dist/libs/jsvectormap/dist/js/jsvectormap.min.js') }}" defer></script>
    <script src="{{ asset('assets/dist/libs/jsvectormap/dist/maps/world.js') }}" defer></script>
    <script src="{{ asset('assets/dist/libs/jsvectormap/dist/maps/world-merc.js') }}" defer></script>
    <!-- Tabler Core -->
    <script src="{{ asset('assets/dist/js/tabler.min.js') }}" defer></script>
    <script src="{{ asset('assets/dist/js/demo.min.js') }}" defer></script>

    {% block scripts %}{% endblock scripts %}

  </body>
</html>
