{% extends 'admin/base.html.twig' %}

{% block title %}Commentaires{% endblock %}


{% block pageTitle %}Commentaires{% endblock pageTitle %}

{% block pageActions %}
    <div class="btn-list">
        <a href="#" class="btn btn-primary d-none d-sm-inline-block" data-bs-toggle="modal" data-bs-target="#modal-categorie">
        <!-- Download SVG icon from http://tabler-icons.io/i/plus -->
        <svg xmlns="http://www.w3.org/2000/svg" class="icon" width="24" height="24" viewBox="0 0 24 24" stroke-width="2" stroke="currentColor" fill="none" stroke-linecap="round" stroke-linejoin="round"><path stroke="none" d="M0 0h24v24H0z" fill="none"/><line x1="12" y1="5" x2="12" y2="19" /><line x1="5" y1="12" x2="19" y2="12" /></svg>
        Nouveau commentaire
        </a>
        <a href="#" class="btn btn-primary d-sm-none btn-icon" data-bs-toggle="modal" data-bs-target="#modal-categorie" aria-label="Create new report">
        <!-- Download SVG icon from http://tabler-icons.io/i/plus -->
        <svg xmlns="http://www.w3.org/2000/svg" class="icon" width="24" height="24" viewBox="0 0 24 24" stroke-width="2" stroke="currentColor" fill="none" stroke-linecap="round" stroke-linejoin="round"><path stroke="none" d="M0 0h24v24H0z" fill="none"/><line x1="12" y1="5" x2="12" y2="19" /><line x1="5" y1="12" x2="19" y2="12" /></svg>
        </a>
    </div>

{% endblock pageActions %}

{% block pageBody %}

    {% set headers = ['client', 'description', 'date'] %}
    {% include 'admin/comment/_table.html.twig' with {'headers': headers, 'data':comments} %}

{% endblock pageBody %}


{% block modals %}
    <div class="modal modal-blur fade" id="modal-categorie" tabindex="-1" role="dialog" aria-hidden="true">
        <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
            {{ form_start(comment_form) }}
            <div class="modal-header">
            <h5 class="modal-title">Nouvelle catégorie</h5>
            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <div class="mb-3">
                    <label class="form-label">Client</label>
                    {% if form_errors(comment_form.writer) %}
                        {{ form_widget(comment_form.writer, {'attr': {'class': 'form-control is-invalid'}}) }}
                        <span class="invalid-feedback">{{ form_errors(comment_form.writer) }}</span>
                    {% else %}
                        {{ form_widget(comment_form.writer, {'attr': {'class': 'form-control'}}) }}
                    {% endif %}
                    
                </div>
                <div class="mb-3">
                    <label class="form-label">Commentaire</label>
                    {% if form_errors(comment_form.comment) %}
                        {{ form_widget(comment_form.comment, {'attr': {'class': 'form-control is-invalid'}}) }}
                        <span class="invalid-feedback">{{ form_errors(comment_form.comment) }}</span>
                    {% else %}
                        {{ form_widget(comment_form.comment, {'attr': {'class': 'form-control'}}) }}
                    {% endif %}
                </div>
                
                <div class="modal-footer">
                    <a href="#" class="btn" data-bs-dismiss="modal">
                        Annuler
                    </a>
                    <button type="submit" formnovalidate class="btn btn-primary ms-auto">
                        <!-- Download SVG icon from http://tabler-icons.io/i/plus -->
                        <svg xmlns="http://www.w3.org/2000/svg" class="icon" width="24" height="24" viewBox="0 0 24 24" stroke-width="2" stroke="currentColor" fill="none" stroke-linecap="round" stroke-linejoin="round"><path stroke="none" d="M0 0h24v24H0z" fill="none"/><line x1="12" y1="5" x2="12" y2="19" /><line x1="5" y1="12" x2="19" y2="12" /></svg>
                        Ajouter le commentaire
                    </button>
                </div>
            </div>
        {{ form_end(comment_form) }}
        </div>
    </div>
{% endblock modals %}

